.experience__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.experience__card {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.experience__cards > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}
.experience__details {
  display: flex;
  gap: 1rem;
}
.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.experience__frontend {
}

.experience__backend {
}

/* ================== Media Queries ===================== */
@media screen and (max-width: 1024px) {
  .experience__cards {
    grid-template-columns: 1fr;
  }
  .experience__card {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}

/* ================== Media Queries ===================== */
@media screen and (max-width: 600px) {
  #experience {
    margin-top: 10rem;
  }
  .experience__cards {
    gap: 1rem;
  }
  .experience__card {
    width: 100%;
    padding: 2rem 1rem;
  }
}
